@keyframes circular-shake {
    0%, 100% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(5deg);
    }
}
  
.animate-circular-shake {
animation: circular-shake 0.5s ease-in-out both;
}

.contact-submit-button {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #000000 0%, #252525 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}