@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "hamburgers/dist/hamburgers.min.css";

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes flyThroughAndRotate {
  0% { 
    transform: translateX(0) rotate(45deg); 
    opacity: 1;
  }
  100% { 
    transform: translateX(100px) rotate(45deg); 
    opacity: 0; 
  }
}

.icon-animating {
  animation: flyThroughAndRotate 1s forwards;
}

.icon-rotated {
  transform: rotate(90deg);
}

.submit-text-animating {
  animation: fadeOut 1s forwards;
}

@keyframes circular-shake {
    0%, 100% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(5deg);
    }
  }
  
  .animate-circular-shake {
    animation: circular-shake 0.5s ease-in-out both;
  }

.spinner {
border: 4px solid rgba(255, 255, 255, 0.3);
border-top: 4px solid #fff;
border-radius: 50%;
width: 16px;
height: 16px;
animation: spin 1s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  background-color: white;
  padding-top: 6rem;
  z-index: 40;
  overflow-y: auto;
}

.link-underline {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.link-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: red;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.link-underline:hover::after {
  width: 100%;
  left: 0;
  transform: translateX(0%);
}

.footer-underline {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.footer-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: rgb(185, 185, 185);
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.footer-underline:hover::after {
  width: 100%;
  left: 0;
  transform: translateX(0%);
}

.contact-submit-button {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #000000 0%, #252525 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* .contact-submit-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
} */
.contact-submit-button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.contact-submit-button .svg-wrapper {
  transition: transform 0.3s ease-in-out;
}

.contact-submit-button:hover .svg-wrapper {
  transform: rotate(45deg);
}

.submit-text {
  margin-left: 8px;
}