@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
@keyframes flyThroughAndRotate {
    0% { 
      transform: translateX(0) rotate(45deg); 
      opacity: 1;
    }
    100% { 
      transform: translateX(100px) rotate(45deg); 
      opacity: 0; 
    }
}
  
.icon-animating {
animation: flyThroughAndRotate 1s forwards;
}

.icon-rotated {
transform: rotate(90deg);
}
  
.submit-text-animating {
animation: fadeOut 1s forwards;
}

.contact-submit-button:active {
transform: scale(0.95);
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.contact-submit-button .svg-wrapper {
transition: transform 0.3s ease-in-out;
}

.contact-submit-button:hover .svg-wrapper {
transform: rotate(45deg);
}

.submit-text {
margin-left: 8px;
}

/* Adjust styles for screens with a max-height of 700px */
@media screen and (max-height: 700px) {
  .container {
    padding: 2rem 1rem; /* Reduce padding */
  }

  .contact-submit-button {
    padding: 0.6em 1em; /* Adjust button padding */
  }

  input, textarea {
    padding: 0.8rem; /* Adjust input and textarea padding */
  }

  .text-4xl {
    font-size: 1.5rem; /* Adjust heading font size */
  }
}

/* Further adjustments for even smaller heights */
@media screen and (max-height: 500px) {
  .container {
    padding: 1rem; /* Further reduce padding */
  }

  .contact-submit-button, input, textarea {
    padding: 0.5rem; /* Further reduce padding for form elements */
  }

  .text-4xl {
    font-size: 1.25rem; /* Further reduce heading font size */
  }
}